	    <a href="<%= post.the_url %>" class="post-item">
    		<% tags = post.the_tags.limit(1).decorate %>
			<% if tags.present? %>
		            <% tags.each do |post_tag| %>
		               	<h3><%= post_tag.the_title %></h3>
		            <% end %>
			<% end %>
	    	<!-- <img src="<%= raw post.the_thumb_url() if post.has_thumb?%>"> -->
	    	<div class="img" style="background-image: url(<%= raw post.the_thumb_url() if post.has_thumb?%>)"></div>

	        <h1><%= raw post.the_title.truncate(55) %></h1>
	        <hr />
	        <time datetime="" class="entry-date"><%= post.published_at.strftime("%B %d, %Y") if post.published_at?%></time>

	        <!-- <p><%= raw post.the_content %></p> -->
	    </a>